<header>
  <img src="{{site.authorimg}}" alt="{{site.author}}" width="150" />
  <h1>{{site.author}}</h1>
  <p class="occup">{{site.authoroccup}}</p>
  <ul class="extlinks">
    <li><a href="{{site.vcard}}"><i class="fa fa-envelope-square"></i></a></li>
    <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://scholar.google.com/citations?user={{site.scholar}}&hl=en" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
  </ul>
</header>
